{% extends 'base.html' %}

{% block main %}
        <!-- each tour is a bootstrap card -->
        {% for product in products %}
            
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/' + product.image) }}" alt="Kimono 1" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4>{{ product.name }}</h4>
                                <h3>{{ product.cost }}</h3>
                            </br>
                                <h5 class="card-title">Select Size</h5>
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item"><button type="button" class="btn btn-secondary">Small</button></li>
                                    <li class="list-group-item"><button type="button" class="btn btn-secondary">Medium</button></li>
                                    <li class="list-group-item"><button type="button" class="btn btn-secondary">Large</button></li>
                                  </ul>
                                </br>
                                <h5 class="card-title">Select Colour</h5>
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item"><button type="button" class="btn btn-secondary">White</button></li>
                                    <li class="list-group-item"><button type="button" class="btn btn-secondary">Black</button></li>
                                    <li class="list-group-item"><button type="button" class="btn btn-secondary">Blue</button></li>
                                </ul>
                            </br>
                                <div class="form-group">
                                    <label for="quantitykimono"><h5>Select Quantity</h5></label>
                                    <select class="form-control" id="quantitykimono">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                                  <form action="{{ url_for('main.checkout') }}">
                                    <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                                    <input class="btn btn-primary" type="submit" value="Buy Now">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                    <h4>Description</h4>
                    <p>{{ product.description }}</p>
                </div>
            </div>
                        
        {% endfor %}
    </div>
</section>
{% endblock %}
